.project-section{
    h5{
        color: #C1DAE5;
        margin: 45px 0 40px;
        letter-spacing: 5.4px;
    }
    &:not(.brown-light){
        hr{
            border-color: #48413B;
        }
        h5{
            color: rgba(72, 65, 59, 1);
            font-family: 'Switzer' ,sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
        }
    }
    &:has(h2){
        & .project-items{
            margin-top: 130px;
        }
    }
    h2{
        margin-top: 30px;
        color: rgba(193, 218, 229, 1);
        font-family: 'Satoshi' ,sans-serif;
        font-size: 67px;
        font-weight: 400;
        line-height: 77.39px;
        margin-bottom: 42px;
    }
    h3{
        font-size: 33px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 2%;
        margin-bottom: 85px;
        max-width: 565px;
    }
    .project-items{   
        &:not(.grid):not(.grid-cohere){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            margin: 65px 0 75px;
            .project-item{
                width: calc((100% - 45px) / 4);
            }
        }
        &.grid-cohere{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 34px; 
            align-items: start;
            .project-item{
                &:nth-of-type(1){ 
                    grid-area: 1 / 1 / 3 / 3;
                    background: #F0E8E1;
                    padding: 20px;
                }
                &:nth-of-type(2){ 
                    grid-area: 1 / 3 / 2 / 4;
                }
                &:nth-of-type(3){ 
                    grid-area: 1 / 4 / 2 / 5;
                }
                &:nth-of-type(4){
                    grid-area: 2 / 3 / 3 / 4;
                }
                &:nth-of-type(5){
                    grid-area: 2 / 4 / 3 / 5;
                }
                h4{
                    color: #48413B;
                    &:after{
                        border: 12.5px solid transparent ;
                        border-top: 12.5px solid #48413B ;
                        border-right: 12.5px solid #48413B ; 
                    }
                }
                h6{
                    color: #48413B;
                }
                p{
                    color: #7f7369;
                }
            }
        } 
        &.grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 46px;
            grid-row-gap: 20px;
            margin-bottom: 55px;
            .project-item{
                &:nth-of-type(1){ 
                    grid-area: 1 / 1 / 3 / 2; 
                    width: 430px;
                }
                &:nth-of-type(2){ 
                    grid-area: 1 / 2 / 3 / 3; 
                    width: 430px;
                }
                &:nth-of-type(3){ 
                    grid-area: 1 / 3 / 2 / 4; 
                }
                &:nth-of-type(4){
                    grid-area: 2 / 3 / 3 / 4; 
                }
            }
        }
        .project-item{
            position: relative;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            .link{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            h4{
                font-family: 'Switzer' ,sans-serif;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 5.4px;
                margin-top: 24px;
                text-transform: uppercase;
                margin-bottom: 10px;
                position: relative;
                padding-right: 30px;
                &:after{
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: -7px;
                    border: 12.5px solid transparent; 
                    border-top: 12.5px solid #fff; 
                    border-right: 12.5px solid #fff;
                }
            }
            h6{
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0.52px;
                font-family: 'Helvetica Now Display';
            }
            p{
                margin-top: 13px;
                font-size: 10px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.52px;
            }
            .img{
                position: relative;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: all 0.5s ease;
                }
                .tag{
                    padding: 10px;
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    height: 34px;
                    text-transform: uppercase;
                    font-family: Satoshi;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 12px;
                    letter-spacing: 5.4px;
                    font-family: 'Satoshi', sans-serif;
                    color:rgb(72, 65, 59);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: rgba(193, 218, 229, 0.8);
                }
            }
            
        }
    }
}