@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
    line-height: 1.2;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 48px; 
}
h3{
    font-size: 33px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
p{
    font-size: 16px;
}
ol,
ul{
    font-size: 16px;
}
.sline{ 
    margin: 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #fff;
}
.contant-section {
    padding: 0  0 39px!important;
    .sline{
        border-color: #48413B;
    }
    h3{
        margin-bottom: 24px;
        margin-top: 70px;
        color: rgba(127, 115, 105, 1);
        font-family:'Satoshi' ,sans-serif; 
        &:first-of-type{
            margin-top: 55px;
        }
    }
    p{
        color: rgba(72, 65, 59, 1);
        font-family: 'Helvetica Now Display';
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.54px;
        margin-bottom: 40px;
    }
    img{
        width: 100%;
    }
}