/* bootstrap */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

/* $grid-gutter-width: 8px; */
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap-icons/font/bootstrap-icons";

/** Slick carousel */
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";


